.center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.mar{margin-top: 100px;}  
.social-btn-icon{
    height: 18px;
    margin-left: 17px;
    margin-bottom: -3px;
}

.login-Btn{
    
    font-size: 15px;
    font-weight: bold;
    background-color: aliceblue;
    border: 2px solid black;
    height: 40px;
}