
<div class="mar">

  <p class="center">Log in with existing account</p>


<p class="center">
  <mat-form-field appearance="outline">
    <mat-label>E-Mail</mat-label>
    <input type="email" matInput placeholder="Your Email Here" [(ngModel)]="loginUserData.username" name="email" required/>
    <mat-icon matSuffix color="primary">email</mat-icon>
  </mat-form-field>
</p>
<p class="center">
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" [(ngModel)]="loginUserData.password"  required matInput placeholder="Password" />
    <mat-icon matSuffix color="primary">security</mat-icon>
  </mat-form-field>
</p>

<p class="center"><button mat-stroked-button (click)="loginUser()" color="primary">Sign In</button></p>
</div>
<p class="center">Forgot Your Passwor?<button mat-button routerLink="/resetpassword" color="primary"  >Reset Here</button></p>

{{loginUserData|json}}
