<mat-toolbar class="navbar">
  <span
    ><strong>L E X O R O </strong>
  </span>

  <div>
    <button mat-button routerLink="/login" *ngIf="!authService.loggedIn()">
      Sign in
    </button>
    <button
      mat-raised-button
      color="primary"
      routerLink="/signup"
      *ngIf="!authService.loggedIn()"
    >
      Join
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="authService.loggedIn()"
      (click)="authService.logoutUser()"
    >
      Logout
    </button>
  </div>
</mat-toolbar>
