<div class="mar">
  <p class="center">Create A New Account</p>

  <form
    [formGroup]="formGroup"
    (ngSubmit)="registerUser(formGroup.value)"
    class="form-element"
  >
    <mat-form-field class="center" appearance="outline">
      <mat-label>Username</mat-label>
      <input
        type="text"
        matInput
        placeholder="Your Username"
        formControlName="username"
      />
      <mat-icon matSuffix color="primary">email</mat-icon>

      <mat-error *ngIf="submitted && f.username.errors">
        Username required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="center" appearance="outline">
      <mat-label>First Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Your First Name"
        formControlName="first_name"
      />
      <mat-icon matSuffix color="primary">email</mat-icon>

      <mat-error *ngIf="submitted && f.first_name.errors">
        First Name required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="center" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input
        type="text"
        matInput
        placeholder="Your Last Name"
        formControlName="last_name"
      />
      <mat-icon matSuffix color="primary">email</mat-icon>

      <mat-error *ngIf="submitted && f.last_name.errors">
        Last Name required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="center" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="text"
        matInput
        placeholder="Your Email"
        formControlName="email"
      />
      <mat-icon matSuffix color="primary">email</mat-icon>

      <mat-error *ngIf="submitted && f.last_name.errors">
        Email required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="center form-element" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Password"
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-hint
        ><p>*Password minimum length is 6</p>
        <p>*At least contains a symbol</p></mat-hint
      >

      <mat-error *ngIf="submitted && f.password.errors.required">
        Password required
      </mat-error>
      <mat-error *ngIf="submitted && f.password.errors.pattern">
        *Password minimum length is 6 *At least contains a symbol
      </mat-error>
    </mat-form-field>
    <br /><br /><br />

    <div class="center form-element">
      <button mat-stroked-button color="primary" type="submit" class="button">
        Sign In
      </button>
    </div>
  </form>
</div>

{{ formGroup.value | json }}
